.transaction-page {
  max-width: 400px;
  margin: 40px auto;
  background: #e4acac;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  border: none;
  color: rgb(232, 245, 157);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.pay-btn:hover {
  background-color: #45a049;
}
